
  <form action="/save/<%=profile.id%>?_method=PUT" method="POST">
    <input
      type="text"
      name="name"
      value="<%= profile.name%>"
      placeholder="name"
    />
    <input type="text" name="email" value="<%= profile.email%>" disabled />
    <input type="text" name="gender" placeholder="gender" value="<%= profile.gender%>"/>
    <input type="text" name="techId" value="<%= profile.id%>" disabled />
    <input type="text" name="age" placeholder="age" value="<%= profile.age%>"/>
    <button type="submit">Update</button>
  </form>
  
  <h1>Name: <%=profile.name%></h1>
  <h3>Email: <%=profile.email%></h3>
  <h3>Gender: <%=profile.gender%></h3>
  <h3>TechId: <%=profile.id%></h3>
  <h3>Age: <%=profile.age%></h3>
  <a href="/events">Events</a>
</form>
